*9-/8666666666666666666666666666666666666666666666666666666666666666666666666666-------------58*98/-8-@charset "utf-8";
/* CSS Document */



body {
	background-color: #fff0e6;
	width: 1000px;
	margin: 0 auto;
}

h1 {
	color: #ff7828;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 18px;
	text-align: center;
}

span {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 36px;
	margin-right: 20px;
}

.flex_container {
	display: flex;
	width: 920px;
	height: 40px;
	margin: 0 auto;
	margin-top: 40px;
	background-color: #ffc8af;
}

.flex_item {
	width: 184px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:18px;	
}

.nav a {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 0.04em;
	
}

.flex_item :hover {
	color: #ffaa73;
}

.home {
	width: 920px;
	height: 490px;
	margin: 0 auto;
	margin-top: 50px;
}

.banner1 {
	width: 920px;
	height: 230px;
	margin: 0 auto;
	margin-top: 25px;
}

.banner2 {
	width: 920px;
	height: 230px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 80px;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	color: #ff7828;
	text-align: center;
	width: 920px;
	height: 70px;
	line-height: 70px;
	padding-top: 20px;
	margin-top: 40px;
	border-style: solid none none none;
	border-color: #ff7828;
	margin: 0 auto;
}


.flex_container2 {
	display: flex;
	width: 920px;
	margin: 0 auto;
}

.flex_item2 {
	margin-right: 10px;
}

.flex_item2:last-child {
	margin-right: 0;
}



.bottom a {
	width: 290px;
	height: 50px;
	margin: 0 auto;
	display: block;
	background-color: #ffaa73;
	text-decoration: none;
	text-align:  center;
	line-height: 50px;
	font-size: 16px;
	color: #e6faed;
	margin-top: 80px;
	margin-bottom: 120px;
	font-family: Arial, Helvetica, "sans-serif";
}

.bottom :hover{
	background-color: #FF7828;
}

.bottom1 a {
	width: 290px;
	height: 50px;
	margin: 0 auto;
	display: block;
	background-color: #ffaa73;
	text-decoration: none;
	text-align:  center;
	line-height: 50px;
	font-size: 16px;
	color: #e6faed;
	margin-top: 80px;
	margin-bottom: 120px;
	font-family: Arial, Helvetica, "sans-serif";
}

.bottom1 :hover{
	background-color: #FF7828;
}

.colimn {
	width: 920px;
	margin: 0 auto;
}




#footer {
	background-color: #ffdcc8;
	height: 60px;
	color: #232323;
	font-family: Arial, Helvetica, "sans-serif";
	font-size: 12px;
	text-align: center;
	line-height: 60px;
	margin-top: 150px;
	margin: 0 auto;
}